In [1]:
#Starting with dictionaries
pop =[30.55,54.66,77.77]
countries = ['Afghanistan','Albania','Algeria']
alb= countries.index('Albania')

alb

1

In [3]:
pop[alb]

54.66

In [4]:
#pair of keys and values
#When relationships are built between two entities Then list become hectic part there so working with list there will not save our time 
#So Lits is not efficient where there is relationship between two entities Ao we created Dictionaries as solution for this problem

In [5]:
#Dictionaries Keys with values
world = {'Afghanistan':30.55,'Albania':54.66,'Algeria':77.77}
world

{'Afghanistan': 30.55, 'Albania': 54.66, 'Algeria': 77.77}

In [7]:
world['Albania']

54.66

In [8]:
world = {'Afghanistan':30.55,'Albania':54.66,'Algeria':77.77,'Albania':55.66}
world

{'Afghanistan': 30.55, 'Albania': 55.66, 'Algeria': 77.77}

In [9]:
{0:"hello",True:"dear","two":"hey"}#keys can be of differnst types

{0: 'hello', True: 'dear', 'two': 'hey'}

In [12]:
#key have to be immutable cannot be changed
{['Ali','Sara','Fajar']:"Name"}

TypeError: unhashable type: 'list'

In [13]:
#Values can be immutable
{"Name":['Ali','Sara','Fajar']}

{'Name': ['Ali', 'Sara', 'Fajar']}

In [14]:
#If we wanted add values to dictionary
world["Pakistan"]=98.00

In [15]:
world

{'Afghanistan': 30.55, 'Albania': 55.66, 'Algeria': 77.77, 'Pakistan': 98.0}

In [16]:
world["Pakistan"]=18.00

In [17]:
world

{'Afghanistan': 30.55, 'Albania': 55.66, 'Algeria': 77.77, 'Pakistan': 18.0}

In [18]:
"Pakistan" in world

True

In [19]:
del(world["Afghanistan"])

In [20]:
world

{'Albania': 55.66, 'Algeria': 77.77, 'Pakistan': 18.0}

In [21]:
#Now Pandas
#tabular data in pandas called dataframe
#Dataframe Structured data in whhich we have some row and columns
# rows = opbservations
# columns = variables
#When we have differnet data types in tyable we can't use numpy so we use pandas over there
#Big data manipulation
#based on numpy

In [22]:
bricks= {"country": ['Brazil','Russia','India','China','South Africa'],
        "capital": ['Brazilia','Moscoow','New Delhi','Beijing','Pretoria'],
        "area":[8.516,7.654,4.656,7.896,0.598],
        "population":[311.21,142.32,155.43,167.75,160.98]}

In [23]:
#key(columns,label)
#values(data column by column)
import pandas as pd

In [24]:
bricks_df =pd.DataFrame(bricks)
bricks_df

        country    capital   area  population
0        Brazil   Brazilia  8.516      311.21
1        Russia    Moscoow  7.654      142.32
2         India  New Delhi  4.656      155.43
3         China    Beijing  7.896      167.75
4  South Africa   Pretoria  0.598      160.98

In [25]:
bricks_df.index= ['BU','RU','IN','CH','SU']
bricks_df

         country    capital   area  population
BU        Brazil   Brazilia  8.516      311.21
RU        Russia    Moscoow  7.654      142.32
IN         India  New Delhi  4.656      155.43
CH         China    Beijing  7.896      167.75
SU  South Africa   Pretoria  0.598      160.98

In [27]:
#DATAFRAME THROUGH CSV FILES (COMMA SEPARATED FILES)
import csv
with open("bricks.csv", 'w',newline="") as file:
    csv_write = csv.writer(file, delimiter=',') #header
    csv_write.writerow(["",     "Country",  "capital",	    "area",    "population"]) #data /record
    csv_write.writerow(["BR",	"Brazil",	"Brasilia",	    "8.516",    "200.4"])
    csv_write.writerow(["RU",	"Russia",	"Moscow",	    "17.10",    "143.5"])
    csv_write.writerow(["IN",	"India",	"New Delhi",	"3.286",	"1252"])
    csv_write.writerow(["CH",	"China",	"Beijing",	    "9.597",	"1357"])
    csv_write.writerow(["SA",   "South Africa","Pretoria",	"1.221",	"52.98"])

In [30]:
bricks_csv = pd.read_csv("./bricks.csv")
bricks_csv

  Unnamed: 0       Country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [32]:
bricks_csv = pd.read_csv("./bricks.csv" , index_col=0) #index_col positional arguments
bricks_csv

         Country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [34]:
#Pandas Part 2
country = bricks_csv['Country']
country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: Country, dtype: object

In [35]:
type(country)

pandas.core.series.Series

In [36]:
#Series is one or single column from a dataframe
#Series is 1D DATA

In [37]:
country = bricks_csv[['Country']]
country

         Country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [38]:
type(country)

pandas.core.frame.DataFrame

In [39]:
country1 = bricks_csv[['Country','capital']]
country1

         Country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [41]:
#single square bracket result in series double square bracket result in dataframe

In [43]:
#Row Accessing through Index
bricks_csv[0:2] #0:2 mean 2 rows 0 and 1 last row is not included

   Country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [44]:
bricks_csv[:4]

   Country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [45]:
bricks_csv[1:4]

   Country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [46]:
bricks_csv[2:]

         Country    capital   area  population
IN         India  New Delhi  3.286     1252.00
CH         China    Beijing  9.597     1357.00
SA  South Africa   Pretoria  1.221       52.98

In [47]:
bricks_csv[2:,:]

InvalidIndexError: (slice(2, None, None), slice(None, None, None))

In [48]:
#Specific row and row  aik saath access krnay hon to kya karin gae so we will use Loc and Iloc
#loc(location based)
#iloc(index location based)
print(type(bricks_csv.loc['RU']))
bricks_csv.loc['RU']

<class 'pandas.core.series.Series'>

Country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [49]:
print(type(bricks_csv.loc[['RU']]))
bricks_csv.loc[['RU']]

<class 'pandas.core.frame.DataFrame'>

   Country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [53]:
bricks_csv.loc[['RU','CH','SA']]

         Country   capital    area  population
RU        Russia    Moscow  17.100      143.50
CH         China   Beijing   9.597     1357.00
SA  South Africa  Pretoria   1.221       52.98

In [54]:
bricks_csv.loc[['RU','CH','SA'],['Country','capital','population']]

         Country   capital  population
RU        Russia    Moscow      143.50
CH         China   Beijing     1357.00
SA  South Africa  Pretoria       52.98

In [59]:
bricks_csv.loc['RU':'CH','Country']

RU    Russia
IN     India
CH     China
Name: Country, dtype: object

In [60]:
bricks_csv.loc['RU':'CH',['Country','capital']]

   Country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [62]:
bricks_csv.loc['RU':'CH','Country':'capital'] # when rows and column both are passed in slicing so we get dataframe alreday

   Country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [63]:
bricks_csv.loc[:,['Country','capital']] # when rows and column both are passed in slicing so we get dataframe alreday

         Country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [64]:
bricks_csv.loc[:,'Country'] # when rows and column both are passed in slicing so we get dataframe alreday

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: Country, dtype: object

In [65]:
bricks_csv.loc[:,'Country':'area'] # when rows and column both are passed in slicing so we get dataframe alreday

         Country    capital    area
BR        Brazil   Brasilia   8.516
RU        Russia     Moscow  17.100
IN         India  New Delhi   3.286
CH         China    Beijing   9.597
SA  South Africa   Pretoria   1.221

In [68]:
#Iloc(Index location)
bricks_csv

         Country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [72]:
bricks_csv.iloc[[3]]

   Country  capital   area  population
CH   China  Beijing  9.597      1357.0

In [74]:
bricks_csv.iloc[[1,3]]

   Country  capital    area  population
RU  Russia   Moscow  17.100       143.5
CH   China  Beijing   9.597      1357.0

In [76]:
bricks_csv.iloc[:,[1,3]]

      capital  population
BR   Brasilia      200.40
RU     Moscow      143.50
IN  New Delhi     1252.00
CH    Beijing     1357.00
SA   Pretoria       52.98

In [77]:
bricks_csv.iloc[:,:]

         Country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [78]:
#loc main name pass krtay hain or iloc main number pass krtay hain